* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 75px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-content {
    width: 944px;
  }

}